@use "./styles/mixins";
@use "./styles/tokens";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.todo-layout {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 40px auto;
  padding: 16px 16px;
  gap: tokens.$space-small;

  font-family: Arial, sans-serif;

  --surface-color: white;
  --text-color: black;
  --border-color: black;
  --focus-color: #cf7171;
  --button-bg: #f2f2f2;
  --button-hover-bg: #dddddd;
  --error-color: #e90a0a;

  background-color: var(--surface-color);
  color: var(--text-color);

  &[data-theme="dark"] {
    --surface-color: black;
    --text-color: white;
    --border-color: white;
    --focus-color: #dfa1a1;
    --button-bg: #222222;
    --button-hover-bg: #3a3a3a;
    --error-color: #d86666;
  }

  button {
    font-family: inherit;
    font-size: inherit;
    color: var(--text-color);
    background-color: var(--button-bg);
    border: solid 1px var(--border-color)
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  input {
    font: inherit;
  }
}

@media (hover: hover) {
  .todo-layout button:not(:disabled):hover {
    background-color: var(--button-hover-bg);
  }
}

.todo-header {
  display: flex;
  flex-direction: column;
  gap: tokens.$space-small;
  border: 1px solid var(--border-color);
  padding: 4px;

  button {
    width: fit-content;
  }
}

.save-message.error {
  color: var(--error-color)
}

.todo-search {
  display: flex;
  align-items: flex-start;
  gap: tokens.$space-small;
}

.todo-item {
  display: grid;

  grid-template-columns: minmax(0, 1fr);

  align-items: center;
  gap: tokens.$space-small;
  border: 1px solid var(--border-color);
  padding: 4px 4px;
}


@media (min-width: 560px) {
  .todo-item {
    grid-template-columns: minmax(0, 1fr) auto;
  }
}

.todo-content {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.completed {
    text-decoration: line-through;
  }
}

.todo-actions {
  display: flex;
  gap: tokens.$space-small;
  flex-wrap: wrap;

  button {
    padding: 4px tokens.$space-small;
  }
}

ul {
  margin: 16px 0 0;
  padding: 0;
  list-style: none;
}

.todo-stats {
  flex: 0 0 auto;  /* не растягиваться */
  width: fit-content;
  margin: 0;

  dt,
  dd {
    display: inline;
    margin: 0;
  }

  dt::after {
    content: ": ";
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.todo-toggle {
  display: flex;
  gap:  tokens.$space-small;
  align-items: center;
  min-width: 0;
}

.todo-layout button:focus-visible {
  @include mixins.focus-ring($offset: 2px)
}

.todo-layout input:focus-visible {
  @include mixins.focus-ring($offset: 2px)
}

.todo-form {
  display: flex;
  gap: tokens.$space-small;

  input {
    flex: 1;
    min-width: 0;
  }

  button {
    flex: 0 0 auto;
  }
}

.todo-header-actions {
  display: flex;
  gap: tokens.$space-small;
  flex-wrap: wrap;
  align-items: center;
}
