.todo-layout {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 40px auto;
  padding: 0 16px;
  gap: 8px;
}

.todo-header {
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid brown;
  padding: 4px;
}

.todo-search {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid brown;
  padding: 4px 4px;
}

.todo-content {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-actions {
  display: flex;
  gap: 8px;
  flex: 0 0 auto;
  margin-left: auto;
}

.todo-content.completed {
  text-decoration: line-through;
}

.todo-actions {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.todo-actions button {
  padding: 4px 8px;
}

.priority-button {
  min-width: 150px;
  flex-shrink: 0;
}

ul {
  margin: 16px 0 0;
  padding: 0;
  list-style: none;
}

.todo-stats dt, 
.todo-stats dd {
  display: inline;
  margin: 0;
}

.todo-stats dt::after {
  content: ": ";
}

.todo-stats {
  flex: 0 0 auto;  /* не растягиваться */
  width: fit-content;
  margin: 0;
}

.todo-stats > div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.todo-stats dt,
.todo-stats dd {
  margin: 0;
}


